[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"Jinja2" = "*"
pyyaml = ">=4.2b4"

[dev-packages]
ipython = "*"
yamllint = "*"

[requires]
python_version = "3.6"
